@media(max-width:790px){
    .años .peliculas {

        margin: 10px;
    }
    /*#layout {

        grid-template-rows: 0.3fr 4fr 0.3fr;
    }*/

    .n2, .n3 {

        grid-template-rows: 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr;

    }

}

@media(max-width:450px){
    /*#layout {
        grid-template-rows:  1.2fr 4fr 0.3fr;
    }*/

    #menu ul {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

}

@media(max-width:428px){
    /*#layout {
        grid-template-rows: 1.3fr 4fr 0.3fr;
    }*/

    #menu ul {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

}

@media(max-width:400px){
    /*#layout {
        grid-template-rows: 1.15fr 4fr 0.3fr;
    }*/



}